@media (max-width: 767px) {
    .center {
        padding-right: 16px;
        padding-left: 16px;
    }
    .top_content {
        background-image: url(img/top-back\ mob.jpg);
        background-repeat: no-repeat;
        height: 735px;
        background-size: cover;
        display: flex;
        align-items: center;
    }
    .top_content__title {
        width: 343px;
        height: 77px;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
    }
    .top_content__text {
        width: 343px;
        height: 66px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
    }
    .button {
        margin-left: 54px;
        margin-right: 54px;
        margin-top: 32px;
    }
    .games {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    .game_item {
        box-sizing: border-box;
        padding-left: 13px;
        width: 375px;
    }
    .game_item_1 {
        width: 343px;
        height: 300px;
    }
    .game_item_2 {
        width: 343px;
        height: 300px;
    }
    .game_item_3 {
        width: 343px;
        height: 300px;
    }
    .step1_content {
        display: flex;
        align-items: center;
        text-align: center;
    }
    .step1_content__title {
        font-size: 32px;
        line-height: 39px;
    }
    .step1_content__text {
        font-size: 14px;
        line-height: 22px;
        width: 340px;
    }
    .step1_images {
        margin-left: 13px;
        width: 344px;
        margin-top: 64px;
        height: 236px;
    }
    .step2_content {
        display: flex;
        align-items: center;
        text-align: center;
        margin-top: 136px;
        margin-bottom: 64px;
    }
    .step2_content__title {  
        font-size: 32px;
        line-height: 39px;
        margin-right: 0;
        width: 264px;
    }
    .step2_content__text {
        font-size: 14px;
        line-height: 22px;
        width: 340px;
    }
    .step2_images {
        width: 344px;
        height: 231px;
        margin-left: 14px;
        padding-bottom: 90px
    }
    .button_step2 {
        margin-right: 0;
        margin-top: 32px;
    }
    .step3_content {
        padding-top: 51px;
        background-position: center;
        background-size: cover;
    }
    .step3_content__title {
        font-size: 32px;
        line-height: 39px;
        width: 261px;
        height: 39px;
    }
    .step3_content__text {
        font-size: 14px;
        line-height: 22px;
        width: 343px;
        height: 110px;
    }
   
}
    
    